.underlined-title{
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

.info-title{
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: [s] 1fr [m] 1fr [e];
    align-items: center;
    &__title{
        grid-row: s/e;
        grid-column: s/m;

        font-size: 14px;
    }
    &__value{
        grid-row: s/e;
        grid-column: m/e;

        color: #00CB79;
        font-weight: 600;
        font-size: 18px;
    }
}

.info-title-green{
    &__title{
        color: #00CB79;
        font-weight: 600;
    }
}

.order-summary{
    width: 240px;
    height: 150px;
    display: grid;
    grid-template-rows: 30px 24px 24px 46px;
    row-gap: 5px;
    .info-title{
        &__value{
            justify-self: end;
        }
    }
}