.details{
    display: grid;
    row-gap: 13px;

    &__title{
        padding-bottom: 7px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        width: 600;
    }   

    &__links{
        display: grid;
        row-gap: 10px;
        font-size: 14px;

        & > * {
            text-decoration-line: underline;
        }
        .details_item{
            text-decoration-line: none;
        }
    }
}