html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    font-family: "Open Sans";
    color: #808080;
    
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}
@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';
@import 'page-title';
@import 'form-fields';
@import 'details';

@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information';

@import 'shop/shop';
@import 'shop/shop-search-bar';
@import 'shop/shop-products';
@import 'shop/shop-cart';
@import 'shop/cart-prouct';               

@import 'quantity';
@import 'green-price-tag';

@import 'order/review';
@import 'order/reviewForm';
@import 'order/reviewProduct';

@import 'information/shipping';
@import 'information/payment';